In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("/Users/niklaskiermeyer/Desktop/Codespace/DruxAI/data/raw/sanger_files/sanger-dose-response.csv")

In [10]:
df = df[~df["auc"].isna()].reset_index(drop=True)
df

,DATASET,COSMIC_ID,DRUG_ID,MIN_CONC,MAX_CONC,RMSE_PUBLISHED,Z_SCORE_PUBLISHED,IC50_PUBLISHED,AUC_PUBLISHED,ARXSPAN_ID,DRUG_NAME,BROAD_ID,upper_limit,ec50,slope,lower_limit,auc,log2.ic50,mse,R2
0,GDSC1,683665,1,0.007813,2.0,0.022518,-0.192056,10.977393,0.982116,ACH-002270,ERLOTINIB,BRD-K70401845,0.992788,2.839376e+00,-5.670993,0.514389,0.990834,NaN,0.000034,0.904675
1,GDSC1,684055,1,0.007813,2.0,0.031831,0.505823,23.133991,0.984820,ACH-002104,ERLOTINIB,BRD-K70401845,1.006405,2.864875e-02,-0.186377,0.990054,0.997138,NaN,0.000057,0.028903
2,GDSC1,684062,1,0.007813,2.0,0.087010,-0.114395,11.926884,0.944463,ACH-002111,ERLOTINIB,BRD-K70401845,0.989580,7.580375e-02,-12.222777,0.894027,0.933185,NaN,0.000623,0.777093
3,GDSC1,684072,1,0.007813,2.0,0.016288,-0.530674,7.645605,0.950763,ACH-000087,ERLOTINIB,BRD-K70401845,0.998887,9.671393e-01,-2.496776,0.816721,0.973032,NaN,0.000018,0.993758
4,GDSC1,687799,1,0.007813,2.0,0.043985,-5.365666,0.043694,0.349947,ACH-000766,ERLOTINIB,BRD-K70401845,0.939255,9.351034e-02,-0.698966,0.047188,0.458337,-3.481481,0.000693,0.987013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327335,GDSC2,905951,2172,0.009766,10.0,0.143863,0.042524,25.410793,0.877741,ACH-000288,JQ1,"BRD-K54606188, NA",3.929045,3.287745e+11,-0.012190,-3.449953,0.856099,NaN,0.006178,0.292447
327336,GDSC2,906862,2172,0.009766,10.0,0.088631,-2.223819,0.339325,0.510590,ACH-001065,JQ1,"BRD-K54606188, NA",0.935866,4.096968e-01,-2.014115,0.176515,0.585800,-1.073816,0.003198,0.971991
327337,GDSC2,907046,2172,0.009766,10.0,0.114748,-0.578942,7.780877,0.843211,ACH-000930,JQ1,"BRD-K54606188, NA",0.960799,3.695946e-01,-1.161533,0.687792,0.830671,NaN,0.002792,0.795935
327338,GDSC2,749709,2172,0.009766,10.0,0.047625,1.642265,534.688321,0.983634,ACH-000859,JQ1,"BRD-K54606188, NA",0.977260,1.161541e+30,-0.031889,0.900234,0.969870,NaN,0.000879,0.000540
327339,GDSC2,906801,2172,0.009766,10.0,0.085767,0.858430,120.177282,0.952633,ACH-000536,JQ1,"BRD-K54606188, NA",0.961719,7.840383e+01,-0.554315,0.664756,0.940827,NaN,0.003325,0.159037

In [11]:
selected_columns = df[["DATASET", "DRUG_ID", "IC50_PUBLISHED", "AUC_PUBLISHED", "ARXSPAN_ID", "DRUG_NAME"]]

In [12]:
# Find NAs of specific columns
selected_columns.isna().sum()

DATASET              0
DRUG_ID              0
IC50_PUBLISHED       0
AUC_PUBLISHED        0
ARXSPAN_ID        7227
DRUG_NAME            0
dtype: int64

In [13]:
# Drop rows with NAs
selected_columns = selected_columns.dropna()

In [16]:
selected_columns

       DATASET  DRUG_ID  IC50_PUBLISHED  AUC_PUBLISHED  ARXSPAN_ID  DRUG_NAME
0        GDSC1        1       10.977393       0.982116  ACH-002270  ERLOTINIB
1        GDSC1        1       23.133991       0.984820  ACH-002104  ERLOTINIB
2        GDSC1        1       11.926884       0.944463  ACH-002111  ERLOTINIB
3        GDSC1        1        7.645605       0.950763  ACH-000087  ERLOTINIB
4        GDSC1        1        0.043694       0.349947  ACH-000766  ERLOTINIB
...        ...      ...             ...            ...         ...        ...
327335   GDSC2     2172       25.410793       0.877741  ACH-000288        JQ1
327336   GDSC2     2172        0.339325       0.510590  ACH-001065        JQ1
327337   GDSC2     2172        7.780877       0.843211  ACH-000930        JQ1
327338   GDSC2     2172      534.688321       0.983634  ACH-000859        JQ1
327339   GDSC2     2172      120.177282       0.952633  ACH-000536        JQ1

[320113 rows x 6 columns]

In [ ]:
# Find matches between Drugs of Prism and Sanger

In [ ]:
# Find matches between gene Databank and cell line